body {
  background-color: grey;
  width: 90%;
  max-width: 1280px;
  margin: auto;
}

.connexionField {
  display: flex;
  justify-content: center;
}
h1,
h2,
h3,
p,
legend {
  color: white;
}

fieldset {
  display: block;
  border-color: black;
  width: 40%;
  margin: 15px;
  border-radius: 10px;

  form {
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    legend {
      color: white;
    }

    label {
      color: white;
    }

    p {
      color: white;
    }

    input,
    select {
      background-color: lightgray;
      border-radius: 50px;
      padding: 15px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.connexion {
  align-self: flex-end;
  color: white;
  background-color: goldenrod;
  font-weight: bold;
  &:hover {
    background-color: rgb(145, 109, 19);
  }
}

nav {
  margin-bottom: 30px;
  a {
    text-decoration: none;
    color: white;
    background-color: goldenrod;
    border: solid;
    border-radius: 15px;
    padding: 5px;
    &:hover {
      background-color: rgb(145, 109, 19);
    }
  }
}

.logOffBtn {
  text-decoration: none;
  color: white;
  background-color: red;
  border: solid;
  border-radius: 15px;
  padding: 5px;
  &:hover {
    background-color: rgb(167, 2, 2);
  }
}

table,
th,
td {
  text-align: left;
  color: black;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  table-layout: fixed;
}

table {
  width: 100%;
}
tr {
  &:nth-child(odd) {
    background-color: #949393;
  }
  &:nth-child(even) {
    background-color: #cccaca;
  }
}

.retourBtn {
  text-decoration: none;
  color: white;
  background-color: rgb(56, 154, 228);
  border: solid;
  border-radius: 15px;
  padding: 5px;
  &:hover {
    background-color: rgb(40, 107, 158);
  }
}

.emprunt {
  background-color: red;
  &:hover {
    background-color: rgb(167, 2, 2);
  }
}
